@import '../../sass/settings.scss';

.homeContainer {
    padding-top: 2rem;
    scroll-margin-top: 10rem;
    padding-bottom: 10rem;
    background-color: $dark-white-background-color;
    @media screen and (min-width: map-get($breakpoints, big-tablets)) {
        width: 100vw;
    }

    &__infoSection {
        @include d-flex-column;
        @media screen and (min-width: map-get($breakpoints, big-tablets)) {
            @include d-flex;
            flex-direction: row-reverse;
        }

        &__img {
            width: 50%;
            border-radius: 30%;
            animation: imgWave 2s infinite;
            border: 2px solid #000;
            @media screen and (min-width: map-get($breakpoints, big-tablets)) {
                width: 30%;
                margin-right: 2rem;
            }
            @media screen and (min-width: 1450px) {
                margin-right: 15rem;
                margin-top: 1rem;
            }
        }

        &__content {
            margin-top: $article-margin;
            text-align: center;
            width: 90vw;
            position: relative;

            &__h1 {
                font-size: 2.5rem;
                color: $text-dark-color;
                @media screen and (min-width: 500px) {
                    font-size: 4rem;
                }
                @media screen and (min-width: 1200px) {
                    font-size: 4.5rem;
                }
                @media screen and (min-width: 1350px) {
                    padding: 0 10rem;
                }
            }

            &__p {
                
                margin-top: $article-margin;
                @include p;
                @media screen and (min-width: 500px) {
                    width: 30rem;
                    margin: 2rem auto;
                }
            }

            &__icons {
                margin-top: 1.5rem;
                @include d-flex;
                gap: 1rem;
                &__a {
                    will-change: color;
                    transition: color .3s;
                }
                &__a:hover {
                    color: $text-blue-color;
                }
            }
        }
    }
}

@keyframes imgWave {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}