@import '../../sass/settings.scss';

.headerContainer {
    @include nav;
    padding: 1rem 0;
    justify-content: space-around;
    position: sticky;
    z-index: 100;
    top: 0;
    gap: 30vw;
    &__nameSection {
        &__content {
            color: $text-dark-color;
            font-weight: 800;
        }
    }
    &__menu {
        display: none;
        transform: translateX(-20rem);
        transition: all .7s;
        z-index: 300;
        width: 100vw;
        position: fixed;
        background-color: #fff;
        color: $text-dark-color;
        top: 0;
        height: 100vh;
        &__x {
            height: 10%;
            display: flex;
            justify-content: flex-end;
            &__icon {
                width: 2rem;
                margin-top: 1rem;
                margin-right: 2rem;
            }
        }
        &__nav {
            @include d-flex-column;
            height: 90%;
            &__item {
                margin-bottom: 2rem;
                font-weight: 500;
                font-size: 2rem;
            }
        }
    }
}