@import '../../sass/settings.scss';

.headerContainer {
    @include nav;
    justify-content: space-around;
    gap: 30vw;
    &__nameSection {
        &__content {
            color: $text-dark-color;
            font-weight: 800;
        }
    }
    &__navSection {
    }
}