@import '../../sass/settings.scss';

.headerContainer {
    @include nav;
    padding: 1rem 0;
    justify-content: space-around;
    position: sticky;
    top: 0;
    gap: 30vw;
    &__nameSection {
        &__content {
            color: $text-dark-color;
            font-weight: 800;
        }
    }
}