@import '../../../sass/settings.scss';

.techStackContainer {
    @include d-flex-column;
    margin-top: 4rem;
    padding: 0 2rem;
    @media screen and (min-width: map-get($breakpoints, big-tablets)) {
        @include d-flex;
        flex-direction: row;
        gap: 7rem;
        justify-content: flex-start;
    }
    &__title {
        @media screen and (min-width: map-get($breakpoints, big-tablets)) {
            @include d-flex;
        }
        &__p {
            border-bottom: 2px solid rgba(45, 46, 50, .5);
            margin-bottom: 3rem;
            padding-bottom: 1rem;
            color: $text-dark-color;
            font-family: Mulish, sans-serif;
            font-weight: 600;
            font-size: 1.1rem;
            @media screen and (min-width: map-get($breakpoints, big-tablets)) {
                border-bottom: none;
                border-right: 2px solid rgba(45, 46, 50, .5);
                padding: 0 2rem;
                margin: 0;
            }
        }
    }
    
    &__skillsWrapper {
        @include d-flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-content: center;
        &__skill {
            &__python {
                width: 6rem;
            }
            &__next {
                width: 6rem;
                position: relative;
                right: 2rem;
                top: 1.35rem;
            }
        }
    }

}