@import '../../sass/settings.scss';

.footerContainer {
    @include d-flex;
    margin-top: 5rem;
    padding: 5rem 0;
    background-color: $text-dark-color;
    color: #fff;
    &__wrapper {
        width: 80%;
        @include d-flex-column;
        @media screen and (min-width: 530px){
            @include d-flex;
            gap: calc(10vw + 3rem); 
        }
        gap: 2rem;
        &__icons {
            @include d-flex;
            gap: 1rem;
            &__a {
                color: #fff;
                will-change: transform;
            }
            &__a:hover {
                animation: hoop 1s linear;
            }
        }
    }
}

@keyframes hoop {
    50% {
        transform: translateY(-.5rem);
    }
}